.footer-main {
	margin-top: auto;
	padding: 3em 0 2em;
	background-color: var(--color-teal-T900);
	color: white;
	text-align: center;
}

.footer-main .netlify-logo {
	display: inline-block;
	margin-top: 1em;
}

.landing .footer-main {
	margin-top: 0;
	padding-top: 5em;
}