.footer-main {
	margin-top: auto;
	text-align: center;
}

.footer-main .content {
	padding: 3em 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-main h3 {
	display: flex;
	align-items: center;
	gap: .4em;
}

.footer-main p {
	max-width: 460px;
	margin: 1em auto 2em;
	font-size: 110%;
}

.footer-main a:hover {
	color: var(--color-teal-T600);
	text-decoration: none;
}

.footer-main .netlify-logo {
	display: inline-block;
}

.landing .footer-main {
	margin-top: 0;
	padding-top: 5em;
}