.footer-main {
	margin-top: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	background-color: white;
}

.footer-main a:hover {
	text-decoration: none;
}

.landing .footer-main {
	margin-top: 0;
	padding-top: 5em;
}

.footer-main .contributors {
	padding: calc(var(--grid-gutter) * 2) var(--grid-gutter);
	display: grid;
	gap: 1rem;
	border-top: 1px solid var(--color-red-R400);
}

.footer-main .contributors > * {
	max-width: 300px;
}

.footer-main p .footer-heart {
	height: 30px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: top;
}

.footer-main .sponsors {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
	place-items: center;
	gap: 1px;
	background-color: var(--color-red-R400);
	border-left: 1px solid var(--color-red-R400);
	border-top: 1px solid var(--color-red-R400);
}

.footer-main .sponsors a {
	min-height: 8rem;
	align-self: stretch;
	justify-self: stretch;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
	background-color: white;
	text-decoration: none;
}

.footer-main .sponsors a h4 {
	width: 100%;
	padding: .5em;
	background-color: var(--color-red-R100);
	// border-bottom: 1px solid var(--color-red-R400);
	font-size: 70%;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-red-R600);
}

.footer-main .sponsors a img {
	align-self: center;
}

.footer-main .opensauced {
	width: 12rem;
	height: auto;
}

.footer-main .uidev {
	width: 3.4rem;
}
