*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background: var(--color-teal-T300);
	color: black;
}

body {
	min-height: 100vh;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-red-R200);
	color: var(--color-gray-L800);
	line-height: 1.5;
	font-family: var(--font-secondary);
}

a {
	color: currentColor;
}

abbr[title] {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

:focus:not(.focus-visible) {
	outline: none;
}
.focus-visible {
	outline-color: var(--color-focus-ring);
}
@supports (box-shadow: none) {
	.focus-visible {
		outline: none;
		box-shadow: 0 0 1px 4px var(--color-focus-ring);
	}
}

.container {
	display: grid;
	grid-template-columns: [full-start] minmax(var(--grid-gutter),1fr) [main-start] minmax(0,1300px) [main-end] minmax(var(--grid-gutter),1fr) [full-end];
}

.container > .content {
	grid-column: main;
	padding: 4em 0;
}

/* Putting this here for now? */
.four-oh-four {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
