.view-choose .nav-choose {
	display: flex;
}

.view-choose main .content {
	min-height: 400px;
	display: grid;
	gap: 1.5em;
	align-items: end;
}

@media screen and (max-width: 800px) {
	.view-choose main .content {
		padding: var(--grid-gutter) 0;
	}
}

@media screen and (min-width: 400px) {
	.view-choose main .content {
		grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
	}
}

.view-choose .intro {
	padding: 1.5em;
	grid-row: 1 / 4;
	align-self: start;
	justify-self: center;
	border: 1px solid var(--color-red-R400);
	align-self: stretch;
}

.view-choose .intro-steps li {
	margin-top: .7em;
	counter-increment: steps-counter;
	list-style: none;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: .5em;
	align-items: center;
}

.view-choose .intro-steps li > * {
	grid-column: 2;
}

.view-choose .intro-steps li::before {
	width: 30px;
	height: 30px;
	grid-column: 1;
	border-radius: 50%;
	align-self: start; 
	content: counter(steps-counter);
	background-color: var(--color-red-R500);
	display: grid;
	place-content: center;
	font-family: var(--font-headline);
	font-weight: 400;
	font-size: 80%;
	color: white;
}

.view-choose .byline {
	margin-top: 1.2em;
}

:root {
	--shadow-color: 18deg 43% 62%;
}

.view-choose .valentine {
	display: block;
	box-shadow: 0px 0.7px 0.8px hsl(var(--shadow-color) / 0.25),
							0px 1.1px 1.3px -1.2px hsl(var(--shadow-color) / 0.26),
							0px 2.5px 2.9px -2.4px hsl(var(--shadow-color) / 0.26);;
	transform: scale(1,1) translateZ(0) translate3d(0,0,0);
	transition-duration: 100ms;
	transition-property: transform, box-shadow;
	transition-timing-function: ease-in-out;
}

.view-choose .valentine img {
	width: 100%;
	display: block;
}

.view-choose .valentine:hover {
	box-shadow: 0px 0.7px 0.8px hsl(var(--shadow-color) / 0.26),
							0px 2.2px 2.5px -0.8px hsl(var(--shadow-color) / 0.27),
							-0.1px 5.2px 5.9px -1.6px hsl(var(--shadow-color) / 0.27),
							-0.2px 12.4px 14.1px -2.4px hsl(var(--shadow-color) / 0.28);;
	transform: scale(1.04,1.04) translateZ(0) translate3d(0,0,0);
}

.view-choose .download {
	padding: 1.5em;
	aspect-ratio: 120/63;
	display: grid;
	place-items: center;
	border: 1px solid var(--color-red-R400);
	text-align: center;
}

.view-choose .download p,
.view-choose .download .button {
	margin-top: .5em;
}

.js-focus-visible .valentine:focus:not(.focus-visible) {
	outline: none;
}

.js-focus-visible .valentine.focus-visible {
	outline-color: var(--color-focus-ring);
}

@supports (box-shadow: none) {
	.js-focus-visible .valentine.focus-visible {
		outline: none;
		box-shadow: 0 0 1px 4px var(--color-focus-ring);
	}
}