---
layout: layouts/base.11ty.js
pageClass: view-card view-customize
bannerTitle: Make it yours
pagination: 
  data: cards
  alias: card
  size: 1
permalink: "/customize/{{card.image}}/index.html"
scripts: ["init.js"]
---


  <main class="container">
    <div class="content">
      <section class="cta" id="cta">
      </section>
      {% comment %} <section class="cta">
        <p>If everything looks correct, let’s get this valentine on its way.</p>
        <form action="/create" method="post" name="new-valentine">
          <input type="hidden" id="senderName" name="senderName" value="lynnandtonic" />
          <input type="hidden" id="senderAvatar" name="senderAvatar" value="this it their avatar" />
          <input type="hidden" id="recipientName" name="recipientName" value="eleventy" />
          <input type="hidden" id="recipientAvatar" name="recipientAvatar" value="this it their avatar" />
          <input type="hidden" hidden id="cardVariant" name="cardVariant"  value="{{card.image}}.svg" />
          <input type="submit" class="button" value="Ship it!" />
        </form>
      </section> {% endcomment %}
      <img src="/img/valentines/{{card.image}}.svg"  alt="{{card.title}}" class="valentine" />
    </div>
  </main>



  <template id="logged-in">
    <input type="text" placeholder="Find a recipient on GitHub">
    <a href="/donate" class="button add-recipient">Add recipient</a>
  </template>
  <template id="logged-out">
    <p>Choose a recipient and add your signature by connecting to GitHub</p>
    <a href="/customize-logged-in" class="button gh-login">Log in with GitHub</a>
  </template>

