---
layout: layouts/base.11ty.js
pageClass: view-card view-customize
bannerTitle: Make it yours
pagination: 
  data: cards
  alias: card
  size: 1
permalink: "/customize/{{card.image}}/index.html"
scripts: ["init.js","customize.js"]
---


  <main class="container">
    <div class="content">
      <section class="cta" id="customize-cta">
      </section>
      {% comment %} <section class="cta">
        <p>If everything looks correct, let’s get this valentine on its way.</p>
      </section> {% endcomment %}
      <div class="card">
        <img src="/img/valentines/{{card.image}}.svg"  alt="{{card.title}}" class="valentine" />
        <div class="recipient-details">
          <img class="user-avatar recipient-user-avatar" src="" alt="" />
          <div class="user-handle recipient-user-handle"></div>
        </div>
        <div class="sender-details">
          <img class="user-avatar logged-in-user-avatar" src="" alt="" />
          <div class="user-handle logged-in-user-handle"></div>
        </div>
      </div>
    </div>
  </main>



  <template id="logged-in">
    <input type="text" id="search-recipient" placeholder="Find a recipient on GitHub">
    <a href="#" class="button add-recipient">Add recipient</a>
    <form action="/create" method="post" name="new-valentine">
      <input type="hidden" id="senderName" name="senderName" value="lynnandtonic" />
      <input type="hidden" id="senderAvatar" name="senderAvatar" value="this it their avatar" />
      <input type="hidden" id="recipientName" name="recipientName" value="eleventy" />
      <input type="hidden" id="recipientAvatar" name="recipientAvatar" value="this it their avatar" />
      <input type="hidden" hidden id="cardVariant" name="cardVariant"  value="{{card.image}}.svg" />
      <input type="submit" class="button" id="ship-it" disabled value="Ship it!" />
     </form>
  </template>
  <template id="logged-out">
    <p>Choose a recipient and add your signature by connecting to GitHub</p>
    <a href="/auth/login" class="button gh-login">Log in with GitHub</a>
  </template>

