---
layout: layouts/base.11ty.js
pageClass: view-choose
bannerTitle: Choose a card
scripts: ["init.js"]
---


<main class="container">
  <div class="content">
    <section class="intro">
      <div>
        <h1>Open&nbsp;source, Open&nbsp;hearts</h1>
        <p>It’s a great day to send a note of appreciation to your fave open source developers and projects.</p>
        <ol class="intro-steps">
          <li>Choose a card</li>
          <li>Log in with GitHub</li>
          <li>Choose recipient</li>
          <li>Send your card</li>
        </ol>
        <p>Thank you for sharing the love with the open source community!</p>
        <p class="byline">
          <img src="/img/xoxo-lynn.svg" alt="XOXO, Lynn Fisher" />
        </p>
      </div>
    </section>

    {% for card in cards %}
    <a class="valentine" href="/customize/{{card.image}}/">
      <img src="/img/valentines/{{ card.image }}.svg" alt="{{ card.title }}" />
    </a>
    {% endfor %}

    <div class="download">
      <h3>Open mailboxes</h3>
      <p>Send ’em the old fashioned way.</p>
      <a href="/img/valentines/open-source-open-hearts.zip" class="button">Download cards</a>
    </div>



  </div>
</main>

