---
layout: layouts/base.11ty.js
pageClass: view-choose
bannerTitle: Choose a card
scripts: ["init.js"]
---


<main class="container">
  <div class="content">
    <section class="intro">
      <div>
        <h1>Open&nbsp;source, Open&nbsp;hearts</h1>
        <p>It’s a great day to send a note of appreciation to your fave open source developers and projects.</p>
        <ol class="intro-steps">
          <li>Choose a card</li>
          <li>Log in with GitHub</li>
          <li>Choose recipient</li>
          <li>Send your card</li>
        </ol>
        <p>Thank you for sharing the love with the open source community!</p>
        <p class="byline">
          <img src="/img/xoxo-lynn.svg" alt="XOXO, Lynn Fisher" />
        </p>
      </div>
      <div class="sponsors">
        <h4>Presented by</h4>
        <div>
          <a href="https://opensauced.pizza"><img src="/img/opensauced.svg" class="opensauced" alt="OpenSauced" width="140" height="24"></a>
          <a href="https://ui.dev/"><img src="/img/uidotdev.svg" class="uidev" alt="ui.dev" width="50" height="50" /></a>
        </div>
      </div>
    </section>

    <div class="warning">
      <span>⚠</span>
      <p>This site is being transferred to a new owner (me, Lynn Fisher!) and is a bit broken at the moment. We’ll be back up and running soon.</p>
    </div>

    {% for card in cards %}
    <a class="valentine" href="/customize/{{card.image}}/">
      <img src="/img/valentines/{{ card.image }}.svg" alt="{{ card.title }}" />
    </a>
    {% endfor %}

    <div class="download">
      <h3>Open mailboxes</h3>
      <p>Send ’em the old fashioned way.</p>
      <a href="/img/valentines/open-source-open-hearts.zip" class="button">Download cards</a>
    </div>



  </div>
</main>

