@import '_includes/variables.scss';
@import '_includes/fonts.scss';
@import '_includes/global.scss';
@import '_includes/type.scss';
@import '_includes/buttons.scss';
@import '_includes/header.scss';
@import '_includes/view-choose.scss';
@import '_includes/view-card.scss';
@import '_includes/footer.scss';